.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--s-xs) var(--s-md);
  border-radius: var(--radius-m);
  border: solid 1px transparent;
  color: var(--color-text-secondary);
  background-color: var(--color-bg-secondary);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: transparent;
    border-color: var(--color-bg-secondary);
    color: var(--color-bg-secondary);
  }

  &[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &.button--secondary {
    background-color: transparent;
    color: var(--color-text-primary);
    border-color: var(--color-text-primary);

    &:hover {
      background-color: var(--color-bg-primary);
    }
  }

  &.button--success {
    background-color: var(--color-success);
    color: var(--color-light);

    &:hover {
      background-color: var(--color-success);
      color: var(--color-text-light);
    }
  }

  &.button--square {
    width: var(--s-xxl);
    height: var(--s-xxl);
    border-radius: var(--radius-l);
  }

  &.button--block {
    width: 100%;
  }
}
